.main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .divpic {
        display: flex;
        border: 1px solid yellow;
        border-radius: 50px;

        .picc {
            border-radius: 50px;
        }
    }
}